<div class="row">
	<div class="card col m12 z-depth-4 nudge">
		<div class="card-content">
			<div class="row valign-wrapper">
				<div class="col s3">
					<div class="card-panel light-blue accent-3 z-depth-1 center">
						<i class="large material-icons white-text">person_pin</i>
					</div>
				</div>
				<div class="col s9">
					<h2 class="card-title" style="margin-top: 0">Add student</h2> <!-- verified user -->
					<p>Enter the student's name and the site they tested at below.</p>
				</div>
			</div>
			<form method="POST" ng-submit="add()" name="addForm" style="margin-top: 1em;">
				<div class="row" style="padding-left: 24px; padding-right: 24px;">
					<div class="col s4" input-field>
						<input ng-model="student.fname" name="fname" id="fname" type="text" required />
						<label for="fname">First name</label>
					</div>
					<div class="col s4" input-field>
						<input ng-model="student.lname" name="lname" id="lname" type="text" required />
						<label for="lname">Last name</label>
					</div>
					<div class="col s4" input-field>
						<select ng-model="student.site" material-select required>
							<option value="" disabled>Choose site</option>
							<option ng-repeat="(key, value) in sites" value="{{value}}">{{key}}</option>
						</select>
					</div>
				</div>
				<div class="row" style="padding-left: 24px; padding-right: 24px;">
					<div class="col s12 l4">
						<button class="btn waves-effect waves-light orange darken-1" type="submit">
							Add
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="card card-panel">
	<div class="row">
		<div class="col l6">
			<h5 class='card-title'>Showing results for {{activeSite ? activeSite : 'all' | capitalize}}</h5>
		</div>
		<div class="col l4 offset-l2">
			<select ng-model="activeSite" material-select class="browser-default">
				<option value="">All sites</option>
				<option ng-repeat="(key, value) in sites" value="{{value}}">{{key}}</option>
			</select>
		</div>
	</div>
	<table class="striped">
		<thead>
			<tr>
				<th>Site</th>
				<th>Date</th>
				<th>First Name</th>
				<th>Last Name</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="student in students | filter: activeSite | orderBy: '-date'">
				<td>{{student.site | capitalize}}</td>
				<td>{{student.date | date:'MM/dd/yyyy'}}</td>
				<td>{{student.fname | capitalize}}</td>
				<td>{{student.lname | capitalize}}</td>
			</tr>
		</tbody>
	</table>
</div>
